<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mywcs.mapper.SysLogininforMapper">

    <resultMap id="BaseResultMap" type="org.example.mywcs.domain.SysLogininfor">
            <id property="info_id" column="info_id" jdbcType="BIGINT"/>
            <result property="user_name" column="user_name" jdbcType="VARCHAR"/>
            <result property="ipaddr" column="ipaddr" jdbcType="VARCHAR"/>
            <result property="login_location" column="login_location" jdbcType="VARCHAR"/>
            <result property="browser" column="browser" jdbcType="VARCHAR"/>
            <result property="os" column="os" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="msg" column="msg" jdbcType="VARCHAR"/>
            <result property="login_time" column="login_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <parameterMap id="BaseParaMap" type="org.example.mywcs.domain.SysLogininfor">

    </parameterMap>

    <sql id="Base_Column_List">
        info_id,user_name,ipaddr,
        login_location,browser,os,
        status,msg,login_time
    </sql>

</mapper>
