<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mywcs.mapper.WcsExceptionLogMapper">

    <resultMap id="BaseResultMap" type="org.example.mywcs.domain.WcsExceptionLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="exception_type" column="exception_type" jdbcType="INTEGER"/>
            <result property="exception_info" column="exception_info" jdbcType="VARCHAR"/>
            <result property="task_id" column="task_id" jdbcType="INTEGER"/>
            <result property="device_name" column="device_name" jdbcType="VARCHAR"/>
            <result property="device_status" column="device_status" jdbcType="INTEGER"/>
            <result property="err_code" column="err_code" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="update_by" column="update_by" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,exception_type,exception_info,
        task_id,device_name,device_status,
        err_code,remark,update_by,
        update_time,create_by,create_time
    </sql>
</mapper>
