<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mywcs.mapper.WcsLifterCodeMapper">

    <resultMap id="BaseResultMap" type="org.example.mywcs.domain.WcsLifterCode">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="INTEGER"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,message,
        level
    </sql>
</mapper>
