<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mywcs.mapper.WcsLifterInfoMapper">

    <resultMap id="BaseResultMap" type="org.example.mywcs.domain.WcsLifterInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="distance" column="distance" jdbcType="INTEGER"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="ground_code" column="ground_code" jdbcType="VARCHAR"/>
            <result property="series" column="series" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,distance,
        location,ground_code,series
    </sql>
</mapper>
