<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mywcs.mapper.WcsProgrammeMapper">

    <resultMap id="BaseResultMap" type="org.example.mywcs.domain.WcsProgramme">
            <id property="programme_id" column="programme_id" jdbcType="INTEGER"/>
            <result property="programme_floor" column="programme_floor" jdbcType="INTEGER"/>
            <result property="programme_name" column="programme_name" jdbcType="VARCHAR"/>
            <result property="programme_type" column="programme_type" jdbcType="INTEGER"/>
            <result property="programme" column="programme" jdbcType="VARCHAR"/>
            <result property="port_id" column="port_id" jdbcType="INTEGER"/>
            <result property="coords" column="coords" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="update_by" column="update_by" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        programme_id,programme_floor,programme_name,
        programme_type,programme,port_id,
        coords,status,update_by,
        create_time,create_by,update_time
    </sql>
</mapper>
