<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mywcs.mapper.WcsRgvLogMapper">

    <resultMap id="BaseResultMap" type="org.example.mywcs.domain.WcsRgvLog">
            <id property="rgv_id" column="rgv_id" jdbcType="INTEGER"/>
            <result property="tack_id" column="tack_id" jdbcType="INTEGER"/>
            <result property="device_name" column="device_name" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="rgv_params_in" column="rgv_params_in" jdbcType="VARCHAR"/>
            <result property="backtrack" column="backtrack" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="use_time" column="use_time" jdbcType="INTEGER"/>
            <result property="operate_time" column="operate_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        rgv_id,tack_id,device_name,
        message,rgv_params_in,backtrack,
        state,use_time,operate_time
    </sql>
</mapper>
