<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mywcs.mapper.WcsUserRoleMapper">

    <resultMap id="BaseResultMap" type="org.example.mywcs.domain.WcsUserRole">
            <id property="user_id" column="user_id" jdbcType="BIGINT"/>
            <id property="role_id" column="role_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,role_id
    </sql>

    <select id="getRoleId" resultType="String">
        select menu_id from wcs_role_menu where role_id=#{roleId}
    </select>

    <select id="selectAllUserMenuId" resultMap="BaseResultMap">
        SELECT * FROM `wcs_user_role` where user_id in(SELECT user_id from wcs_user)
            </select>
    <select id="selectRole" resultType="Integer">
        select role_id from wcs_user_role where user_id=#{userId}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select * from wcs_user_role where user_id=#{userId}
    </select>
</mapper>
